

{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
            <!-- 

                  .__(.)< (MEOW)
                  \___)
              ~~~~~~~~~~~~~
  
            -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
          Change Password | flooop.com
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        
        <!-- CSS
        ============================================ -->
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Modernizer JS -->
		<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
	

	</head>
	<body>
    <div class="nav-wrapper">
      <a href="/">
          <div class="dots-wrapper">
              <div id="dot-1" class="browser-dot"></div>
              <div id="dot-2" class="browser-dot"></div>
              <div id="dot-3" class="browser-dot"></div>
          </div>
      </a>
      <ul id="navigation">
          <li><a href="/">HOME</a></li>
          <li><a href="ContactView">CONTACT</a></li>
      </ul>
  </div>
		<div class="breadcrumb-area pt-35 pb-35 bg-gray">
			<div class="container">
				<div class="breadcrumb-content text-center">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						
						<li class="active">Change Password</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="login-register-area pt-100 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-12 ml-auto mr-auto">
						<div class="login-register-wrapper">
							<div class="login-register-tab-list nav">
								<a class="active" >
									<h4>Change Password</h4>
                </a>
                <br>
              </div>
              
							<div class="tab-content">
								<div id="lg1" class="tab-pane active">
									<div class="login-form-container">
										<div class="login-register-form">
                      <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ form.old_password }}
                            
                        </div>
                        <div class="input-group mb-3">
                            {{ form.new_password1 }}
                            {{ form.new_password2 }}
                        </div>
                        {% if form.errors %}
                        <ul>
                          <li style="color: #0e0e0e;
                              font-weight: 700;
                              text-align: center;
                              background: #efefdb;
                              border: 1.5px solid #fdeaea;
                              border-radius: 3px;
                              padding: 8px;
                          ">
                            {{ form.errors }}
                          </li>
                        </ul>
                        {% endif %}
                        <div class="button-box">
													<button type="submit" >Change Password</button>
                        </div>
                        <small class="a-size-small"><ul>Your password can’t be too similar to your other personal information.</ul> </small>
                        <small class="a-size-small"><ul>Your password must contain at least 8 characters.</ul> </small>
                        <small class="a-size-small"><ul>Your password can’t be a commonly used password.</ul> </small>
                        <small class="a-size-small"><ul>Your password can’t be entirely numeric.</ul> </small>
                                      
                      </form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<small class="a-size-small"><a href="{% url 'Privacy_Notice' %}" class="">Privacy Notice </a></small>
				
				<small class="a-size-small"><a href="{% url 'ConditionsofUse' %}" style="padding-left: 20px;">Conditions of Use</a> </small>
				
	
				
			</div>
			<div class="d-flex justify-content-center">
				<span class="a-size-mini"><br>
				© 2019-2020, flooop.com, Inc. or its affiliates.
				</span>
			</div>
		</div>
    </body>

</html>








