{% extends 'base.html' %}
{% block base %}
{% load static %}
<title>Confirm Password</title>
<div class="nav-wrapper">
    <a href="/">
        <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"></div>
            <div id="dot-2" class="browser-dot"></div>
            <div id="dot-3" class="browser-dot"></div>
        </div>
    </a>
    <ul id="navigation">
        <li><a href="/">HOME</a></li>
        <li><a href="ContactView">CONTACT</a></li>
    </ul>
</div>
<hr>
<div class="d-flex justify-content-center h-100">
  <div class="user_card">
    
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <div class="d-flex justify-content-center form_container">
                <form action="" method="post">
                    {% csrf_token %}
                    <small class="a-size-small"><ul>{{ form.new_password2.errors }}</ul> </small><hr>
                    <small class="a-size-small"><ul>{{ form.new_password1.errors }}</ul> </small>
                    <div class="input-group mb-3">
                        
                        <label for="id_new_password1"></label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="input-group mb-3">
                        
                        <label for="id_new_password2"></label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="input-group mb-3">
                        <input type="submit" value="Change my password" class="btn btn2">
                    </div> 
                </form><hr>
            </div>
        {% else %}
            <h5>Password reset failed</h5>
            <p class="a-size-small">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
        	
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Enter New Password...';
    form_fields[2].placeholder='Re-enter New Password...';
    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}