{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
            <!-- 

                  .__(.)< (MEOW)
                  \___)
              ~~~~~~~~~~~~~
  
            -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            Login | flooop.com
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        
        <!-- CSS
        ============================================ -->
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Modernizer JS -->
		<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
	

    </head>
    <body>
        <div class="nav-wrapper">
            <a href="/">
                <div class="dots-wrapper">
                    <div id="dot-1" class="browser-dot"></div>
                    <div id="dot-2" class="browser-dot"></div>
                    <div id="dot-3" class="browser-dot"></div>
                </div>
            </a>
            <ul id="navigation">
                <li><a href="/">HOME</a></li>
                <li><a href="ContactView">CONTACT</a></li>
            </ul>
        </div>
        <div class="container">
                
            <div class="Stay2">
                <strong> Make</strong><span class="logo-color-text"> IT </span><strong> Easy</strong>
            </div>
            <title>Flooop.com Help</title>
        
        
        
            <div class="Condations">
                <hr>
                <h3 class= "hid_ONECOINCondation">Conditions of Use</h3>
                - <small><strong style="color: #947878;">Last updated: Sep 21, 2020</strong></small><hr>
                <div class="styleCondationdis">
                    <small >
                        Welcome to Flooop.com. Flooop.com Services LLC and/or its affiliates ("Flooop") provide website 
                        features and other products and services to you when you visit or shop at Flooop.com, use Flooop products or 
                        services, use Flooop applications for mobile, or
                        use software provided by Flooop in connection with any of the foregoing (collectively, "Flooop Services").
                        Flooop provides the Flooop Services subject to the following conditions.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">By using Flooop Services, you agree to these conditions. Please read them carefully.</h3>
        
                <div class="styleCondationdis">
                    <small >
                        We offer a wide range of Flooop Services, and sometimes additional terms may apply. When you use an Flooop Service (for example, Your Profile, Gift Cards, 
                        Flooop Video, Your Media Library, Flooop devices, or Flooop applications) you also will be subject to the guidelines, terms and 
                        agreements applicable to that Flooop Service ("Service Terms"). If these Conditions of Use are inconsistent with the Service Terms, those Service Terms will control.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">PRIVACY</h3>
                <div class="styleCondationdis">
                    <small >
                        Please review our Privacy Notice, which also governs your use of Flooop Services, to understand our practices.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">ELECTRONIC COMMUNICATIONS</h3>
                <div class="styleCondationdis">
                    <small >
                        When you use Flooop Services, or send e-mails, text messages, and other communications from your desktop or mobile 
                        device to us, you may be communicating with us electronically. You consent to receive communications from us electronically, 
                        such as e-mails, texts, mobile push notices, or notices and messages on this site or through the other Flooop Services, such 
                        as our Message Center, and you can retain copies of these communications for your records. You agree that all agreements, notices, disclosures, and other 
                        communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">COPYRIGHT</h3>
                <div class="styleCondationdis">
                    <small >
                        All content included in or made available through any Flooop Service, such as text, graphics, 
                        logos, button icons, images, audio clips, digital downloads, data compilations, and software 
                        is the property of Flooop or its content suppliers and protected by United States and international 
                        copyright laws. The compilation of all content included in or made available through any Flooop Service 
                        is the exclusive property of Flooop and protected by U.S. and international copyright laws.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">LICENSE AND ACCESS</h3>
                <div class="styleCondationdis">
                    <small >
                        Subject to your compliance with these Conditions of Use and any Service Terms, and your payment of any applicable fees, Flooop or its content 
                        providers grant you a limited, non-exclusive, non-transferable, non-sublicensable license to access and make personal and non-commercial use of the Flooop 
                        Services. This license does not include any resale or commercial use of any Flooop Service, or its contents; any collection and use of any product listings, 
                        descriptions, or prices; any derivative use of any Flooop Service or its contents; any downloading, copying, or other use of account information for the benefit of 
                        any third party; or any use of data mining, robots, or similar data gathering and extraction tools. All rights not expressly granted to you in these Conditions of Use 
                        or any Service Terms are reserved and retained by Flooop or its licensors, suppliers, publishers, rightsholders, or other content providers. No Flooop Service, nor 
                        any part of any Flooop Service, may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express 
                        written consent of Flooop. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, 
                        page layout, or form) of Flooop without express written consent. You may not use any meta tags or any other "hidden text" utilizing Flooop's name or trademarks without 
                        the express written consent of Flooop. You may not misuse the Flooop Services.
                        You may use the Flooop Services only as permitted by law. The licenses granted by Flooop terminate if you do not comply with these Conditions of Use or any Service Terms.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">YOUR ACCOUNT</h3>
                <div class="styleCondationdis">
                    <small >
                        You may need your own Flooop account to use certain Flooop Services, and you may be required to be logged in to the account and have a valid 
                        payment method associated with it. If there is a problem charging your selected payment method, we may charge any other valid payment method 
                        associated with your account. Visit https://www.Flooop.com/cpe/managepaymentmethods?ref_=ya_d_c_pmt_mpo& to manage your payment options. You 
                        are responsible for maintaining the confidentiality of your account and password and for restricting access to your account, and you agree to 
                        accept responsibility for all activities that occur under your account or password. Flooop does sell products for children, but it sells them 
                        to adults, who can purchase with a credit card or other permitted payment method. If you are under 18, you may use the Flooop Services only with 
                        involvement of a parent or guardian. Parents and guardians may create profiles for teenagers in their Flooop Household. Alcohol listings on Flooop 
                        are intended for adults. You must be at least 21 years of age to purchase alcohol, or use any site functionality related to alcohol. 
                        Flooop reserves the right to refuse service, terminate accounts, terminate your rights to use Flooop Services, remove or edit content, or cancel orders in its sole discretion.
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</h3>
                <div class="styleCondationdis">
                    <small >
                        You may post reviews, comments, photos, videos, and other content; send e-cards and other c
                        ommunications; and submit suggestions, ideas, comments, questions, or other information, so long 
                        as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of i
                        ntellectual property rights (including publicity rights), or otherwise injurious to third parties or objectionabl
                        e, and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters
                        , mass mailings, or any form of "spam" or unsolicited commercial electronic messages. You may not use a false e-mail addre
                        ss, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Flooop reserves the rig
                        ht (but not the obligation) to remove or edit such content, but does not regularly review posted content.
                        <br>
                        If you do post content or submit material, and unless we indicate otherwise, you grant Flooop a nonexclusive, royalty-free
                        , perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, perform, translate, create deriv
                        ative works from, distribute, and display such content throughout the world in any media. You grant Flooop and sublicensees the right t
                        o use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control a
                        ll of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and w
                        ill not cause injury to any person or entity; and that you will indemnify Flooop for all claims resulting from content you supply. Flooop has the right
                        but not the obligation to monitor 
                        and edit or remove any activity or content. Flooop takes no responsibility and 
                        assumes no liability for any content posted by you or any
                    </small>
                </div><br>
                <h3 class= "hid_ONECOINCondation">add your product in our special world,</h3>
                <div class="styleCondationdis">
                    <small >
        
                                <p> 
                                this will not and did not cost you much. There are some suggestions that we will suggest to you.<br>
                                1- You can only pay 5% on every product you have that you will display here (it will be deducted after sale only) <br>
                                2 - You can activate the intensive subscription service and enjoy an entire month of only $ 20 dollars <br>
                                3 - You can activate the intensive subscription service and enjoy 6 months only, with a value of $ 70 USD <br>
                                4- You can activate the intensive subscription service and enjoy for a year only, the value of $ 120 USD <br>
                                </p>
                        If you do post content or submit material, and unless we indicate otherwise, you grant Flooop a nonexclusive, royalty-free
                        , perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, perform, translate, create deriv
                        ative works from, distribute, and display such content throughout the world in any media. You grant Flooop and sublicensees the right t
                        o use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control a
                        ll of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and w
                        ill not cause injury to any person or entity; and that you will indemnify Flooop for all claims resulting from content you supply. Flooop has the right
                        but not the obligation to monitor 
                        and edit or remove any activity or content. Flooop takes no responsibility and 
                        assumes no liability for any content posted by you or any
                    </small>
                </div><br>
        
            </div>
            <div class="d-flex justify-content-center h-100">
                <small class="a-size-small"><a href="{% url 'Privacy_Notice' %}" class="">Privacy Notice</a></small>
                <span class="auth-footer-seperator"></span>
                <small class="a-size-small"><a href="{% url 'ConditionsofUse' %}" class="">Conditions of Use</a> </small>
                <span class="auth-footer-seperator"></span>
        
                <span class="auth-footer-seperator"></span>
            </div>
            <div class="d-flex justify-content-center h-100">
                <span class="a-size-mini"><br>
                    © 2019-2020, flooop.com, Inc. or its affiliates.
                </span>
            </div>
        </div>
    </body>
</html>